.addphone-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.addphone-header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.addphone-header p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00baa4;
    margin-top: 15px;
    margin-left: 15px;
}

.addphone-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height : 18px;
}

.addphone-body-title {
    font-size: 24px;
    font-weight: bold;
}

.addphone-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.addphone-inputs input {
    padding: 15px;
    background-color: #f1f1f1;
    border-style: none;
}

.addphone-button {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
}

.addphone-button button {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #a8a8a8;
    background-color: #f1f1f1;
    border-color: #a8a8a8;
    border-style: solid;
    margin-bottom: 20px;
}

.addphone-button button:hover {
    background-color: #00baa4;
    color: #ffffff;
}