body{
    color: #333333;
}
.chat-header{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat-container{
    background-color: #F7F7F7;
    padding: 10px;
}
.chat-arrow{
    margin: 15px;
}
.chat-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.solution-results {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.solution-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.icon-button {
    border-style: none;
    background: none;
}

.chat-title {
    margin-top: 14px;
    font-size: 18px;
}