.container-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 70%;
}

.info-box{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 40px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #7255c8;
    border-radius: 20px;
}

.container-icono {
    display: flex;
    align-items: center;
    background-color: #ece1fd;
    padding: 10px;
    border-right: solid;
    border-width: 1px;
    border-color: #7255c8;
}

.body-text {
    margin-left: 15px;
    margin-top: 20px;
}
