.banner-phone {
    background-color: #00baa4;
}

.phone {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
    justify-content: space-around;
}

.visor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 40px;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}