.solution-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.solution-bubble{
    background-color: #ffffff;
    border-radius: 0 10px 10px 10px;
    padding: 12px;
    margin: 1%;
}

.solution-logo{
    margin-top: 15px;
    width: 20px;
    background-color: #00BAA4;
    padding: 5px;
    border-radius: 50%;
}