
@media only screen and (max-width: 700px) and (min-width: 320px){

    .V7-container{
        background-color: black;
        height: 100vh;
    }


    .logoTenpo{

        display: flex;
    }

    .containerPlace{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 50%;
    }

    h3{
        font-family: 'Montserrat', sans-serif;
        color: #Fff;
        padding-top: 30px;
        font-size: 18px;
        min-inline-size: max-content;

    }

}