.validate-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.validate-header{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}

.validate-header p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00baa4;
    margin-top: 15px;
    margin-left: 15px;
}

.validate-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height : 18px;
}

.validate-body-title {
    font-size: 24px;
    font-weight: bold;
}

.validate-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    margin-top: 120px;
}

.validate-inputs input {
    text-align: center;
    padding: 15px;
    background-color: #f1f1f1;

}

.validate-button {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 70px;
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
}

.validate-button button {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #a8a8a8;
    background-color: #f1f1f1;
    border-color: #a8a8a8;
    border-style: solid;
}
