.button-button{
    border-radius: 30px;
    border-color: rgb(164, 78, 245);
    color: rgb(164, 78, 245);
    padding: 12px;
    margin:5px;
}
.button-button:focus{
    background-color: rgb(208, 173, 240);
}